<h4>Cart Items <span class="badge badge-primary">{{cartItems.length}}</span></h4>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Amount</th>
  </tr>
  <tr *ngFor = "let item of cartItems">
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.qty}}</td>
    <td>{{item.price * item.qty}}</td>
  </tr>
  <tr *ngIf = "cartItems.length == 0">
    <td colspan = "4">No items in the cart</td>
  </tr>
  <tr>
    <th colspan="3">Total Amount</th>
    <td></td>
  </tr>  
</table>