<nav class="navbar bg-dark navbar-expand-sm navbar-dark">
    <a href="" class="navbar-brand"><img src="assets/images/angular-logo.png" style="width : 120px; height:30px;">
        {{appTitle}}</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Quick Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Shopping List</a>
        </li>
    </ul>
    <span class="navbar-text">
        Welcome {{showUserName()}}!!
    </span>
</nav>
